.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #header-sectoin{
    background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%);
    background-image:url(..//assets/hero-bg.png);
    background-size: 100% 100%;
    background-size: cover;
   
  }
  .para-header{
    color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 600;           
line-height: 38px;
letter-spacing: 0%;
text-align: center;
  }
  header>div{
    width: 1023px;
    margin: 0 auto;
    text-align: center;
    padding-top: 265px; 
    padding-bottom: 265px; 
  }
  header>div>h4{
    color: rgb(255, 255, 255);
font-size: 64px;
font-weight: 700;
line-height: 80px;
letter-spacing: 0%;
text-align: center;
margin-top: 16px;
  }
  header>div>p{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;

  }
  header>div>button{
    border-radius: 8px;
background: rgb(82, 195, 3);
padding: 21px 32px 21px 32px;
margin-top: 32px;
  }
  /* Header section Style end here */
  /* main section style start here  */
  #main-section{
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    margin-top: 48px;
  }
  .main-section{
    margin-top: 100px;
    margin-bottom: 100px;
    
  }
  .favorite-text{
    color: rgb(16, 16, 16);
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
  }
  .main-section>div>h2{
    color: rgb(16, 16, 16);
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
width: 691px;
margin: 0 auto;
  }
  
  #main-section>div>img{
    display: block;
}
  #main-section>div>h4{
    color: rgb(16, 16, 16);
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}
#main-section>div>p{
    color: rgb(16, 16, 16);
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
width: 424px;
margin-top: 24px;
}
  #main-section>div>button{
    border-radius: 8px;
    padding: 14px 32px 14px 32px;
background: rgba(82, 195, 3, 0.15);
margin-top: 32px;

  }
  /* main section style end here  */
  /* footer section Start Style here  */
  #footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  #footer-section>div>img{
    width: 965px;
  }
  #footer-section>div>h2{
    color: rgb(16, 16, 16);
font-size: 48px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0%;
text-align: center;
/* gap: 400px; */
  }
  #footer-section>div>p{
    color: rgb(16, 16, 16);
font-size: 24px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-top: 30px;
margin-bottom: 30px;

  }
  #footer-section>div>a{
    margin-right: 24px;
    font-size: 32px;
font-weight: 600;
align-items: center;

  }
  .follow-us{
    color: rgb(16, 16, 16);
font-size: 32px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
  }
  